# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py_cache

# Jupyter Notebook
.ipynb_checkpoints

# Emacs autosave files
\#*#

# data
data/

# log files from load scripts
*.log

# Database dump files
SQL/dumps/


