# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py_cache

# Jupyter Notebook
.ipynb_checkpoints

# Emacs autosave files
\#*#
.\#*

# data
data/

# log files from load scripts
loaders/tcrd4logs/
loaders/tcrd5logs/
*.log

# Database dump files
SQL/dumps/
SQL/dumps5/

webapp/
exports/

# sym links
python/slm_dataframe_functions.py
python/slm_tcrd_functions.py
